/*
Akatab.css
Akatab font family
15 January 2020
*/


/* use Akatab Regular */
@font-face {
  font-family: 'akatab_regularW';
  src:	url('Akatab-Regular.woff') format('woff'); /* use Akatab in current folder */
}

/* set body font */
body {
  font-family: 'akatab_regularW', serif; 

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}
th {
  text-align: left;
}

.right {
  text-align: right;
}

/* enable character variant one */
.cv01 { 
   font-feature-settings: "cv01" 1; 
  -moz-font-feature-settings: "cv01" 1;
  -ms-font-feature-settings: "cv01" 1;
  -webkit-font-feature-settings: "cv01" 1;
}

/* enable character variant two */
.cv02 { 
   font-feature-settings: "cv02" 1;
  -moz-font-feature-settings: "cv02" 1;
  -ms-font-feature-settings: "cv02" 1;
  -webkit-font-feature-settings: "cv02" 1;
}

/* enable character variant three */
.cv03 { 
   font-feature-settings: "cv03" 1;
  -moz-font-feature-settings: "cv03" 1;
  -ms-font-feature-settings: "cv03" 1;
  -webkit-font-feature-settings: "cv03" 1;
}

/* enable character variant four */
.cv04 { 
   font-feature-settings: "cv04" 1;
  -moz-font-feature-settings: "cv04" 1;
  -ms-font-feature-settings: "cv04" 1;
  -webkit-font-feature-settings: "cv04" 1;
}

/* enable character variant five */
.cv05 { 
   font-feature-settings: "cv05" 1;
  -moz-font-feature-settings: "cv05" 1;
  -ms-font-feature-settings: "cv05" 1;
  -webkit-font-feature-settings: "cv05" 1;
}

/* enable character variant six */
.cv06 { 
   font-feature-settings: "cv06" 1;
  -moz-font-feature-settings: "cv06" 1;
  -ms-font-feature-settings: "cv06" 1;
  -webkit-font-feature-settings: "cv06" 1;
}

/* enable character variant seven */
.cv07 { 
   font-feature-settings: "cv07" 1;
  -moz-font-feature-settings: "cv07" 1;
  -ms-font-feature-settings: "cv07" 1;
  -webkit-font-feature-settings: "cv07" 1;
}

/* enable character variant 31 */
.cv31 { 
   font-feature-settings: "cv31" 1;
  -moz-font-feature-settings: "cv31" 1;
  -ms-font-feature-settings: "cv31" 1;
  -webkit-font-feature-settings: "cv31" 1;
}

/* enable character variant 32 */
.cv32 { 
   font-feature-settings: "cv32" 1;
  -moz-font-feature-settings: "cv32" 1;
  -ms-font-feature-settings: "cv32" 1;
  -webkit-font-feature-settings: "cv32" 1;
}

.cv32_2 { 
   font-feature-settings: "cv32" 2;
  -moz-font-feature-settings: "cv32" 2;
  -ms-font-feature-settings: "cv32" 2;
  -webkit-font-feature-settings: "cv32" 2;
}

/* enable character variant 33 */
.cv33 { 
   font-feature-settings: "cv33" 1;
  -moz-font-feature-settings: "cv33" 1;
  -ms-font-feature-settings: "cv33" 1;
  -webkit-font-feature-settings: "cv33" 1;
}

.cv33_2 { 
   font-feature-settings: "cv33" 2;
  -moz-font-feature-settings: "cv33" 2;
  -ms-font-feature-settings: "cv33" 2;
  -webkit-font-feature-settings: "cv33" 2;
}

/* enable character variant 34 */
.cv34 { 
   font-feature-settings: "cv34" 1; 
  -moz-font-feature-settings: "cv34" 1;
  -ms-font-feature-settings: "cv34" 1;
  -webkit-font-feature-settings: "cv34" 1;
}

/* enable character variant 35 */
.cv35 { 
   font-feature-settings: "cv35" 1;
  -moz-font-feature-settings: "cv35" 1;
  -ms-font-feature-settings: "cv35" 1;
  -webkit-font-feature-settings: "cv35" 1;
}

/* enable character variant 36 */
.cv36 { 
   font-feature-settings: "cv36" 1;
  -moz-font-feature-settings: "cv36" 1;
  -ms-font-feature-settings: "cv36" 1;
  -webkit-font-feature-settings: "cv36" 1;
}

/* enable character variant 37 */
.cv37 { 
   font-feature-settings: "cv37" 1;
  -moz-font-feature-settings: "cv37" 1;
  -ms-font-feature-settings: "cv37" 1;
  -webkit-font-feature-settings: "cv37" 1;
}

.cv37_2 { 
   font-feature-settings: "cv37" 2;
  -moz-font-feature-settings: "cv37" 2;
  -ms-font-feature-settings: "cv37" 2;
  -webkit-font-feature-settings: "cv37" 2;
}

/* enable character variant 38 */
.cv38 { 
   font-feature-settings: "cv38" 1;
  -moz-font-feature-settings: "cv38" 1;
  -ms-font-feature-settings: "cv38" 1;
  -webkit-font-feature-settings: "cv38" 1;
}

/* enable character variant 39 */
.cv39 { 
   font-feature-settings: "cv39" 1;
  -moz-font-feature-settings: "cv39" 1;
  -ms-font-feature-settings: "cv39" 1;
  -webkit-font-feature-settings: "cv39" 1;
}

/* enable character variant 40 */
.cv40 { 
   font-feature-settings: "cv40" 1;
  -moz-font-feature-settings: "cv40" 1;
  -ms-font-feature-settings: "cv40" 1;
  -webkit-font-feature-settings: "cv40" 1;
}

.cv40_2 { 
   font-feature-settings: "cv40" 2;
  -moz-font-feature-settings: "cv40" 2;
  -ms-font-feature-settings: "cv40" 2;
  -webkit-font-feature-settings: "cv40" 2;
}


/* -- experimenting with styles instead of classes -- */

/* enable character variant two */
cv02 { 
  -moz-font-feature-settings: "cv02" 1;
  -ms-font-feature-settings: "cv02" 1;
}

/* enable stylistic set two */
ss02 { 
  -moz-font-feature-settings: "ss02" 1;
  -ms-font-feature-settings: "ss02" 1;
}

