@font-face {
    font-family: LPR;
    font-weight: normal;
    font-style: normal;
    src: url("../../fonts/sil/andika/web/Andika-Regular.woff2") format("woff2");
}
@font-face {
    font-family: LPR;
    font-weight: normal;
    font-style: italic;
    src: url("../../fonts/sil/andika/web/Andika-Italic.woff2") format("woff2");
}
@font-face {
    font-family: LPR;
    font-weight: bold;
    font-style: normal;
    src: url("../../fonts/sil/andika/web/Andika-Bold.woff2") format("woff2");
}
@font-face {
    font-family: LPR;
    font-weight: bold;
    font-style: italic;
    src: url("../../fonts/sil/andika/web/Andika-BoldItalic.woff2") format("woff2");
}
@font-face {
    font-family: FLO;
    font-weight: normal;
    font-style: normal;
    src: url("https://fonts.languagetechnology.org/fonts/sil/andika/web/Andika-Regular.woff2") format("woff2");
}
@font-face {
    font-family: FLO;
    font-weight: normal;
    font-style: italic;
    src: url("https://fonts.languagetechnology.org/fonts/sil/andika/web/Andika-Italic.woff2") format("woff2");
}
@font-face {
    font-family: FLO;
    font-weight: bold;
    font-style: normal;
    src: url("https://fonts.languagetechnology.org/fonts/sil/andika/web/Andika-Bold.woff2") format("woff2");
}
@font-face {
    font-family: FLO;
    font-weight: bold;
    font-style: italic;
    src: url("https://fonts.languagetechnology.org/fonts/sil/andika/web/Andika-BoldItalic.woff2") format("woff2");
}
.lpr {
    font-family: 'LPR', serif;
    font-size: 22px;
}
.gf {
    font-family: 'Andika', serif;
    font-size: 22px;
}
.flo {
    font-family: 'FLO', serif;
    font-size: 22px;
}
