@font-face {
    font-family: LPR;
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/sil/japasansoriya/web/JapaSansOriya-Regular.woff2") format("woff2");
}
@font-face {
    font-family: FLO;
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.languagetechnology.org/fonts/sil/japasansoriya/web/JapaSansOriya-Regular.woff2") format("woff2");
}
.lpr {
    font-family: 'LPR', sans-serif;
    font-size: 22px;
}
.flo {
    font-family: 'FLO', sans-serif;
    font-size: 22px;
}

body {
    text-align: start;
}
