@font-face {
    font-family: LPR;
    font-weight: normal;
    font-style: normal;
    src: url("../../fonts/sil/abyssinicasil/web/AbyssinicaSIL-Regular.woff2") format("woff2");
}
@font-face {
    font-family: FLO;
    font-weight: normal;
    font-style: normal;
    src: url("https://fonts.languagetechnology.org/fonts/sil/abyssinicasil/web/AbyssinicaSIL-Regular.woff2") format("woff2");
}

.lpr {
    font-family: 'LPR', serif;
    font-size: 22px;
}
.gf {
    font-family: 'AbyssinicaSIL', serif;
    font-size: 22px;
}
.flo {
    font-family: 'FLO', serif;
    font-size: 22px;
}
